include LICENSE
include README.md
recursive-include octoprint_filamentswitcher/include *
recursive-include octoprint_filamentswitcher/templates *
recursive-include octoprint_filamentswitcher/translations *
recursive-include octoprint_filamentswitcher/static *
