<!-- <a href="https://en.wikipedia.org/wiki/Hello_world"> Hello World! </a> -->
<!-- <a href="{{ plugin_helloworld_url|escape }}"> Hello World! </a> -->
<!-- <a href="#" data-bind="attr: {href: settings.settings.plugins.filamentswitcher.urlDE}">FilSwtchr DE Hello 1 World!</a> -->
<!-- <a href="#" data-bind="attr: {href: settings.settings.plugins.filamentswitcher.urlES}">FilSwtchr ES Hello 2 World!</a> -->
<a href="#" data-bind="attr: {href: settings.settings.plugins.filamentswitcher.url}">FilSwtchr Hello 3 World!</a>
