<p> This is a paragraph </p>

<a href="https://en.wikipedia.org/wiki/Hello_world"> Hello World! </a>
<!-- <a href="https://en.wikipedia.org/wiki/Hello_world"> Hello World! </a> -->
<!-- <a href="{{ plugin_helloworld_url|escape }}"> Hello World! </a> -->
<a href="#" data-bind="attr: {href: settings.settings.plugins.helloworld.url}">Hello again again World!</a>
