<div class="input-append">
    <p>Brief paragraph</p>
    <H1>This is an H1 header</H1>
    <hr/>
    <P>And a paragraph</P>
    <p>And another one</p>
    <input type="text" class="input-xxlarge" data-bind="value: newUrl">
    <button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Go') }}</button>
</div>


<iframe data-bind="attr: {src: currentUrl}"></iframe>
